<!DOCTYPE html>
<html lang="en" ng-app="crypto">
  <head>
    <title>crypto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="javascripts/vendor/gibberish.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/crypto.css">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="icon-shield"></i> <strong>AES-256</strong> File Encryption</a>
      </div>
    </nav>
    <div class="container" ng-controller="mainCtrl">
      <div ng-include="template">
      </div>
    </div>
    <script src="http://code.angularjs.org/1.2.0rc1/angular.min.js"></script>
    <script src="http://platform.twitter.com/widgets.js"></script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/directives.js"></script>
    <script src="javascripts/services.js"></script>
  </body>
</html>